@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cambay:wght@400;700&family=Crushed&family=Lato:wght@300;400&display=swap');

* {
   font-family: 'Cambay', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border : 1px #BBBBBB solid ; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5BC0BE; 
    border-radius: 10px;
    width : 10px ; 
    margin : 1px ; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3A9595; 
  }
